$letter-spacing-banner-text: 42px;

.banner {
  visibility: hidden;
  background-color: transparent;
  height: 100vh;

  .row {
    overflow: hidden;
    padding-block: 10vh;
    position: relative;
    padding-inline: 100px;
    display: flex;
    grid-column-gap: 60px;
    grid-template-rows: repeat(3, 1fr);

    @media (max-width: 1440px) {
      padding-inline: 0;
    }

    .section {
      width: 100%;
      display: grid;
      grid-template-rows: repeat(2, 1fr);

      img:-moz-loading {
        visibility: hidden;
      }

      &.left {
        margin-block: 50px;
      }

      &.middle {
        grid-template-rows: none !important;
      }

      &.right {
        margin-block: 50px;
      }
    }

    .banner-images-container {
      position: relative;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .banner-image {
        width: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }

      .side-image {
        position: absolute;
        height: auto; /* Make sure images are scaled correctly. */
        width: 100%; /* Adhere to container width. */
        display: block;
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
  }
}

.banner-text {
  overflow: hidden;
  line-height: 1;
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: 42px;
  font-weight: 700;
  color: $white;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  mix-blend-mode: difference;
  z-index: 8;
  @media (max-width: 1440px) {
    font-size: 6rem;
    letter-spacing: 36px;
  }
}
