.footer {
    width: 100%;
    height: 90vh;

    .container {
        background-color: $background;
        height: auto;
        padding-inline: $wrapper-value-navbar;
        position: relative;
        z-index: 2;
        align-items: flex-end;
        .top-footer-row {
            height: 100%;
            width: 100%;
            display: flex;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 2rem;

            .footer-socials {
                width: 100%;

                .footer-socials-list {
                    .footer-social-link {
                        padding-block: 1rem;
                        a {
                            font-size: 1.8rem;
                            text-decoration: none;
                            color: $black
                        }
                    }
                }
            }

            .footer-email {
                .email-header {
                    width: 100%;
                    text-align: center;

                    .text-above-link {
                        font-size: 1.3rem;
                    }
                    .email-header-link {
                        a {
                            font-weight: 700;
                            font-size: calc(clamp(3rem, 7vw, 8rem) * 0.875);
                            color: $black;
                        }

                        .email-link-icon {
                            font-size: 8rem;
                        }
                    }
                }
            }
        }

        .bottom-footer-row {
            padding-block: 4rem;
            font-size: 1.5em;
            font-weight: 600;
            color: $black;

            .footer-bottom-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .footer-copyright {
                }

                .footer-socials {
                    display: flex;

                    .footer-social-link {
                        color: $black;
                        padding-inline: 2rem;
                        text-decoration: none;
                    }
                }

                .made-by {
                    a {
                        text-decoration: none;
                        color: $black;
                    }
                }
            }
        }
    }
}

.socials {
    font-size: 2rem;

    .social-link {
        margin-inline: 1em;
        &:first-child {
            margin-left: 0px !important;
        }

        .icon {
            width: 20px;
            padding: 12px;
            border-radius: 50%;
            border: 2px solid $black;
            color: black;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}
