.footer {
    bottom: 0;

    .container {
        .email-and-socials {
            padding-block: 5em;
            height: 30vh;
            width: 100%;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 100px;

            .section {
                width: 100%;

                &.email {
                    .email-header-one {
                        padding-top: 1em;
                        font-size: 2rem;
                        font-weight: 700;
                    }

                    .contact-paragraph {
                        color: grey;
                        padding-block: 2em;
                        font-size: 1.4rem;
                    }
                    a {
                        text-decoration: none;
                        font-weight: 700;

                        color: $black;
                        font-family: 700;
                        font-size: 2.3rem;
                    }
                }

                &.socials {
                }
            }
        }
        .bottom-footer-row {
            padding-block: 5em;
            font-size: 1.1em;
            font-weight: 500;
            color: grey;

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-transform: uppercase;

            .copyright {
            }

            .local-time {
            }

            .made-by {
                a {
                    text-decoration: none;
                    color: grey;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}
