.home-about-responsive {
    display: block;
    width: 100%;
    margin-block: 40vh;
    display: none;

    @media (max-width: $layout-breakpoint-small) {
        display: block;
    }

    .home-about-responsive-container {
        .home-about-responsive-inner {
            display: grid;
            grid-template-columns: 100%;
            width: 100%;

            .home-about-responsive-portrait {
                .header-above-portrait {
                    h1 {
                        position: relative;
                        font-weight: 500;

                        .home-about-responsive-content-line {
                            line-height: 1.4;
                            overflow: hidden;

                            .home-about-responsive-content-line-inner {
                                color: $black;
                                font-weight: 700;
                                font-size: calc(clamp(5.5rem, 8vw, 9rem) * 0.875);
                            }
                        }
                    }
                }

                .responsive-potrait-container {
                    overflow: hidden;
                    .home-about-responsive-portrait {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .home-about-responsive-content {
                display: table;
                width: 100%;
                position: relative;

                .home-about-responsive-content-inner {
                    width: 100%;
                    color: #323232;
                    display: table-cell;
                    vertical-align: middle;

                    .home-about-responsive-paragraphs {
                        margin-block: 2vh;
                        .home-about-responsive-paragraph {
                            line-height: 1.8;
                            color: $black;
                            padding-block: 2rem;
                            font-size: calc(clamp(1.6rem, 8vw, 2rem) * 0.875);
                        }
                    }

                    .button-list {
                        margin-top: 5vh;
                        .page-link-container {
                            margin-block: 2vh;
                            .page-link {
                                display: flex;
                                text-decoration: none;
                                border-bottom: 1px solid $black;
                                padding-block: 0.8rem;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 1.8rem;
                                color: $black;

                                .link-text {
                                    font-weight: 600;
                                }

                                .link-icon {
                                    font-size: 2rem;
                                }
                            }
                        }
                    }

                    // .home-about-responsive-buttons {
                    //     padding-top: 2em;
                    //     display: block;

                    //     .home-about-divider {
                    //         color: $black;
                    //         font-size: 1.5rem;
                    //         padding-inline: 2rem;
                    //         font-weight: 600;
                    //     }

                    //     .home-about-responsive-button {
                    //         .page-link {
                    //             text-decoration: none;
                    //             .home-about-responsive-link {
                    //                 width: 100%;
                    //                 align-items: center;
                    //                 justify-content: space-between;
                    //                 position: relative;
                    //                 background-color: transparent;
                    //                 transition: 0.5s ease-in-out;
                    //                 cursor: pointer !important;
                    //                 border: none;

                    //                 color: $black;
                    //                 font-weight: 600;
                    //                 font-size: 1.7rem;
                    //                 font-family: inherit;
                    //                 text-decoration: none;

                    //                 padding-bottom: 10px;
                    //                 border-bottom: 1px solid $black;
                    //             }
                    //         }
                    //     }
                    // }
                }
            }
        }
    }
}
