.home-about {
  visibility: hidden;
  margin-block: 30vh;

  &.responsive {
    display: none;
  }
  .container {
    margin: 0 auto;

    .home-about-inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;

      .home-about-content {
        width: 100%;
        margin: 0 auto;

        .home-about-content-inner {
          padding-top: 10em;
          width: 90%;
          color: #323232;

          h1 {
            position: relative;
            font-weight: 500;

            margin-bottom: 24px;
            .home-about-content-line {
              font-size: 3rem;
              margin: 0;
              line-height: 1.4;
              overflow: hidden;

              .home-about-content-line-inner {
              }
            }
          }

          p {
            margin-block: 3em;
            font-size: 1.43rem;
            line-height: 24px;
            font-weight: 300;
            padding-right: 48px;
          }

          .read-about-button {
            a {
              color: $black;
              text-decoration: none;
            }

            .read-about-link {
              font-weight: 600;
              text-transform: uppercase;
              font-size: 1.4rem;
              position: relative;

              // &:before {
              //   position: absolute;
              //   content: "";
              //   width: 56px;
              //   height: 1px;
              //   background: #dfdfdf;
              //   top: 50%;
              //   left: -80px;
              // }

              .arrow-icon {
              }
            }
          }
        }
      }
      .home-about-images {
        width: 100%;
        position: relative;

        .home-about-images-inner {
          display: flex;
          .image-container {
            flex: 48%;
            overflow: hidden;
            position: absolute;

            &.left {
              top: 20%;
              left: 0px;
              width: 48%;
            }

            &.right {
              top: 0px;
              right: 0px;
              width: 48%;
            }

            .image {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
