$layout-breakpoint-home-about: 1150px;

.home-about {
    width: 100%;
    visibility: hidden;
    margin-block: 30vh;

    @media (max-width: $layout-breakpoint-small) {
        margin-block: 20vh !important;
    }

    @media (max-width: $layout-breakpoint-xsmall) {
        margin-block: 10vh !important;
    }

    .home-about-responsive {
        display: none;

        @media (max-width: $layout-breakpoint-small) {
            display: block;
        }

        .container {
            margin: 0 auto;

            .home-about-inner {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-row-gap: 16vh;
                width: 100%;

                @media (max-width: $layout-breakpoint-xsmall) {
                    grid-row-gap: 10vh;
                }

                .home-about-content {
                    margin-block: 10vh;
                    display: table;
                    width: 100%;
                    position: relative;
                    width: 100%;

                    .home-about-content-inner {
                        width: 100%;
                        color: #323232;
                        display: table-cell;
                        vertical-align: middle;

                        h1 {
                            position: relative;
                            font-weight: 500;
                            margin-bottom: 24px;

                            .home-about-content-line {
                                font-size: 2.4rem;
                                margin: 0;
                                line-height: 1.4;
                                overflow: hidden;

                                .home-about-content-line-inner {
                                    .bolded {
                                        letter-spacing: 1px;
                                        font-size: 2.6rem;
                                        color: $black;
                                    }
                                }
                            }
                        }

                        p {
                            margin-block: 3em;
                            font-size: 1.43rem;
                            line-height: 30px;
                            font-weight: 300;
                            padding-right: 48px;
                        }

                        .home-about-buttons {
                            display: flex;

                            .read-about-button {
                                &:last-child {
                                    padding-left: 1vw;
                                }

                                .read-about-link {
                                    border-radius: 5rem;
                                    padding-block: .8rem;
                                    padding-inline: 2.5rem;
                                    position: relative;
                                    background-color: transparent;
                                    border: 1px solid rgb(196, 196, 196);
                                    transition: 0.5s ease-in-out;
                                    cursor: pointer !important;

                                    color: #323232;
                                    font-weight: 600;
                                    font-size: 1.4rem;
                                    font-family: inherit;

                                    &:hover {
                                        background-color: $black;
                                        border: 1px solid $black;
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
                .home-about-images {
                    .home-about-images-container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-column-gap: 2vw;
                        width: 100%;
                        position: relative;
                        .image-container {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;

                            &.left {
                                position: relative;
                                top: 0;
                                left: 0;
                                width: 100%;

                                @media (max-width: $layout-breakpoint-xsmall) {
                                    width: 110%;
                                }
                            }

                            &.right {
                                position: relative;
                                top: 40%;
                                right: 0;
                                width: 100%;

                                @media (max-width: $layout-breakpoint-xsmall) {
                                    width: 110%;
                                    right: 10%;
                                }
                            }

                            .image {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
