$layout-breakpoint-home-about: 1150px;

.home-about-normal {
    display: block;
    width: 100%;
    margin-block: 40vh;
    visibility: hidden;

    @media (max-width: $layout-breakpoint-small) {
        display: none;
    }

    .home-about-normal-container {
        .home-about-inner {
            display: grid;
            grid-template-columns: 45% 55%;
            width: 100%;

            @media (max-width: $layout-breakpoint-medium) {
                grid-template-columns: 55% 45%;

            }

            .home-about-portrait {
                .potrait-container {
                    overflow: hidden;
                    .home-about-portrait {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .home-about-content {
                display: table;
                width: 100%;
                position: relative;
                margin-inline: 15%;

                .home-about-content-inner {
                    width: 100%;
                    color: #323232;
                    display: table-cell;
                    vertical-align: middle;

                    h1 {
                        position: relative;
                        font-weight: 500;

                        .home-about-content-line {
                            color: $black;
                            font-weight: 700;
                            font-size: calc(clamp(3rem, 4vw, 8.5rem) * 0.875);
                            margin: 0;
                            line-height: 1.4;
                            overflow: hidden;
                            letter-spacing: 0px;

                            // @media (max-width: $layout-breakpoint-medium) {
                            //     font-size: 2.8rem;
                            // }

                            // @media (max-width: $layout-breakpoint-home-about) {
                            //     font-size: 2.5rem;
                            // }

                            .home-about-content-line-inner {
                            }
                        }
                    }

                    .paragraphs {
                        padding-block: 5em;

                        @media (max-width: $layout-breakpoint-medium) {
                            padding-block: 2em;
                        }

                        .hero-content-paragraph {
                            max-width: 50ch;
                            padding-block: 0.6em;
                            line-height: 1.8;
                            font-weight: 300;
                            color: $text-color;
                            word-spacing: -1px;
                            font-size: calc(clamp(1rem, 8vw, 2rem) * 0.875);

                            @media (max-width: $layout-breakpoint-medium) {
                                font-size: 1.6rem;
                            }

                            @media (max-width: $layout-breakpoint-home-about) {
                                padding-right: 0px;
                            }
                        }
                    }

                    .home-about-buttons {
                        padding-top: 2em;
                        display: flex;

                        .home-about-divider {
                            color: $black;
                            font-size: 1.5rem;
                            padding-inline: 2rem;
                            font-weight: 600;
                        }

                        .home-about-button {
                            .page-link {
                                text-decoration: none;
                                .home-about-link {
                                    position: relative;
                                    background-color: transparent;
                                    transition: 0.5s ease-in-out;
                                    cursor: pointer !important;
                                    border: none;

                                    color: $black;
                                    font-weight: 600;
                                    font-size: 1.7rem;
                                    font-family: inherit;
                                    text-decoration: none;

                                    padding-bottom: 10px;
                                    border-bottom: 1px solid $black;

                                    @media (max-width: $layout-breakpoint-medium) {
                                        font-size: 1.4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
