.home-about-responsive {
    display: block;
    width: 100%;
    margin-block: 50vh;
    display: none;

    @media (max-width: $layout-breakpoint-small) {
        display: block;
        margin-top: $hero-section-height + 20vh;
    }

    @media (max-width: $layout-breakpoint-xsmall) {
        margin-top: $hero-section-height-xsmall + 40vh;
    }

    .home-about-responsive-container {
        .home-about-responsive-inner {
            display: grid;
            grid-template-columns: 100%;
            width: 100%;

            .header-above-portrait {
                h1 {
                    position: relative;
                    font-weight: 500;

                    .home-about-responsive-content-line {
                        line-height: 1.4;
                        overflow: hidden;

                        .home-about-responsive-content-line-inner {
                            color: $black;
                            font-weight: 700;
                            font-size: calc(clamp(5.5rem, 8vw, 9rem) * 0.875);
                        }
                    }
                }
            }

            .home-about-responsive-portrait {
                width: 100%;
                height: 100%;
                margin-block: 2vh;


                .responsive-potrait-container {
                    width: 100%;
                    height: 100%;

                    .parallax-bg {
                        width: 100%;
                        height: 100vh;

                        @media (max-width: $layout-breakpoint-xsmall) {
                            height: 500px;

                        }
                    }
                }
            }

            .home-about-responsive-content {
                display: table;
                width: 100%;
                position: relative;

                .home-about-responsive-content-inner {
                    width: 100%;
                    color: #323232;
                    display: table-cell;
                    vertical-align: middle;

                    .home-about-responsive-paragraphs {
                        .home-about-responsive-paragraph {
                            line-height: 2;
                            color: $text-color;
                            padding-block: 2rem;
                            font-size: calc(clamp(1.6rem, 8vw, 2rem) * 0.875);
                        }
                    }

                    .button-list {
                        margin-top: 5vh;
                        .page-link-container {
                            margin-block: 2vh;
                            .page-link {
                                display: flex;
                                text-decoration: none;
                                border-bottom: 1px solid $black;
                                padding-block: 1.4rem;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 1.8rem;
                                color: $black;
                                cursor: pointer !important;

                                .link-text {
                                    font-weight: 600;
                                }

                                .link-icon {
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
