.modal-container {
    height: 100vh;
    overflow-y: hidden !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $z-index-image-modal;

    .modal-image {
        height: 90%;
        object-fit: contain;
    }
}

.close-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 4vh;
    right: 5vw;
    color: $black;
    font-size: 4rem;
    cursor: pointer !important;
}
