.modal-container {
    height: calc(100vh - calc(100vh - 100%));
    overflow: hidden !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $z-index-image-modal;
    backdrop-filter: blur(25px);

    .modal-image {
        height: auto;
        max-height: 85%;
        max-width: 80%;
        object-fit: contain;

        @media (max-width: $layout-breakpoint-xsmall) {
            max-height: 70%;
            max-width: 100%;
        }
    }

    .close-btn {
        position: absolute;
        top: 5rem;
        right: 5rem;
        border: none;
        background-color: transparent;
        color: $black;
        cursor: pointer !important;

        @media (max-width: $layout-breakpoint-small) {
            width: 5rem;
            height: 5rem;
            top: 2.8rem;
            right: 1.6rem;
            box-shadow: 0 0px 50px -12px rgb(0 0 0 / 0.6);
            padding: 1.3rem;
            border-radius: 9999px;
            background-color: $white;
            display: flex;
            align-items: center;
        }
    }
}
