.modal-container {
    height: calc(100vh - calc(100vh - 100%));
    overflow-y: hidden !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $z-index-image-modal;
    backdrop-filter: blur(25px);

    .modal-image {
        height: auto;
        max-height: 85%;
        max-width: 85%;
        object-fit: contain;

        @media (max-width: $layout-breakpoint-xsmall) {
            height: 75%;
            max-width: 100%;
        }
    }
}

.close-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 4vh;
    right: 3vw;
    color: $black;
    font-size: 4rem;
    cursor: pointer !important;

    @media (max-width: $layout-breakpoint-small) {
        right: $wrapper-value-breakpoint-small;
    }
}
