.loader {
  width: auto;
  min-height: 100vh;

  display: grid;
  place-items: center;

  background-color: $black;

  .loader-inner {
    text-align: center;
    justify-content: center;
    align-content: center;

    .loader-text {
      color: white;
      font-size: 6em;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
