$menu-button-bar-height: 1px;
$desktop-menu-button-bar-height: 3px;

.navbar {
  pointer-events: none;
  position: fixed;
  width: 100%;
  font-size: 1.8rem;
  height: 150px;
  display: flex;
  z-index: 100;
  mix-blend-mode: exclusion;

  //Disables blend mode so menu can get black
  @media (max-width: $layout-breakpoint-xsmall) {
    padding-top: $wrapper-value-breakpoint-small;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  .navbar-inner {
    margin-inline: $wrapper-value-navbar;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease-in-out;

    &.loading {
      opacity: 0;
    }

    @media (max-width: $layout-breakpoint-small) {
      margin-inline: $wrapper-value-breakpoint-small;
    }

    @media (max-width: $layout-breakpoint-medium) {
      margin-inline: $wrapper-value-navbar-breakpoint-medium;
    }

    .logo {
      pointer-events: all;
      .placeholder-logo {
        color: $white;
        letter-spacing: 1px;
        transition: 0.3s ease-in-out;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 2.3rem;
        text-decoration: none;
        cursor: pointer !important;

        &a:hover,
        a:visited,
        a:link,
        a:active {
          text-decoration: none;
        }
      }
      @media (max-width: $layout-breakpoint-small) {
        visibility: hidden;
      }
    }
  }

  .menu {
    display: flex;
    z-index: 2525;
    position: relative;

    // .desktop-menu-button-text {
    //   pointer-events: all;
    //   cursor: pointer;
    //   font-weight: 700;
    //   letter-spacing: 2px;
    //   margin-block: auto;
    //   font-size: clamp(1rem, 5.5vw, 1.7rem);
    //   color: $white;
    //   cursor: pointer !important;

    //   //Display none after certain view width
    //   @media (max-width: $layout-breakpoint-small) {
    //     display: none;
    //   }

    //   //Takes the disabled attribute that is added and manually disabled the pointer events
    //   &[disabled] {
    //     pointer-events: none;
    //   }
    .desktop-menu-button {
      height: 17px;
      display: flex;
      pointer-events: all;
      cursor: pointer !important;

      @media (max-width: $layout-breakpoint-small) {
        display: none;
      }

      &[disabled] {
        pointer-events: none;
      }

      .button-text {
        margin-block: auto;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: $white;
        mix-blend-mode: difference;
        letter-spacing: 2px;
      }

      .button-lines-next-to-button {
        margin-left: 35px;

        .desktop-button-lines {
          margin-top: 0px;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 25%;
          height: 90%;
          opacity: 1;

          //Makes lines in button bigger
          @media (max-width: $layout-breakpoint-small) {
            width: 35%;
          }

          .middle-line {
            border-radius: 5px;
            position: absolute;
            top: 42%;
            left: -100%;
            height: $desktop-menu-button-bar-height + .1px;
            width: 100%;
            background-color: $white;
            opacity: 1;

            transition: 0.1s ease-in-out;

            &.desktop-menu-open {
              opacity: 0;
            }
          }

          &::before {
            transition: 0.3s ease-in-out;
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            height: $desktop-menu-button-bar-height;
            width: 100%;
            background-color: $white;
            border-radius: 5px;
          }

          &::after {
            transition: 0.3s ease-in-out;
            content: "";
            position: absolute;
            bottom: 0;
            left: -100%;
            height: $desktop-menu-button-bar-height;
            width: 100%;
            background-color: $white;
            border-radius: 5px;
          }

          &.desktop-menu-open {
            &::before {
              top: 6.3px;
              transform: rotate(-45deg);
              content: "";
              display: block;
              position: absolute;
              height: $desktop-menu-button-bar-height;
              width: 100%;
            }

            &::after {
              bottom: 6px;
              transform: rotate(45deg);
              content: "";
              position: absolute;
              height: $desktop-menu-button-bar-height;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .menu-button {
    pointer-events: all;
    width: clamp(2em, 5.5vw, 2.5em);
    height: clamp(2em, 5.5vw, 2.5em);
    border-radius: 50%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    @media (min-width: 991px) {
      display: none !important;
    }

    //Makes button bigger and changes color
    @media (max-width: $layout-breakpoint-small) {
      width: 3.5em;
      height: 3.5em;
      background-color: $white;
    }

    //When disabled variable is passed disable the pointer events
    &[disabled] {
      pointer-events: none;
    }

    .button-lines {
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 15%;
      height: 12%;
      opacity: 1;

      //Makes lines in button bigger
      @media (max-width: $layout-breakpoint-small) {
        width: 35%;
      }

      &::before {
        transition: 0.3s ease-in-out;
        content: "";
        position: absolute;
        top: 0;
        height: $menu-button-bar-height;
        width: 100%;
        background-color: $black;
        border-radius: 5px;
      }

      &::after {
        transition: 0.3s ease-in-out;
        content: "";
        position: absolute;
        bottom: 0;
        height: $menu-button-bar-height;
        width: 100%;
        background-color: $black;
        border-radius: 2px;
      }

      &.menu-open {
        &::before {
          top: 3.3px;
          transform: rotate(-45deg);
          content: "";
          display: block;
          position: absolute;
          height: $menu-button-bar-height;
          width: 100%;
        }

        &::after {
          bottom: 1px;
          transform: rotate(45deg);
          content: "";
          position: absolute;
          height: $menu-button-bar-height;
          width: 100%;

          @media (max-width: $layout-breakpoint-small) {
            bottom: 3px;
          }
        }
      }
    }
  }
}
