.navbar {
  position: absolute;
  width: 100%;
  font-size: 1.8rem;
  height: 100px;
  display: flex;
  z-index: 100;
  mix-blend-mode: difference;

  a {
    text-decoration: none;
  }
}

.navbar-inner {
  margin-inline: $wrapper-value-menu;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    .placeholder-logo {
      color: $white;
      letter-spacing: 1px;
      transition: 0.3s ease-in-out;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 2.3rem;
      text-decoration: none;

      &a:hover,
      a:visited,
      a:link,
      a:active {
        text-decoration: none;
      }

      @media (max-width: $layout-breakpoint-medium) {
        font-size: 1rem;
      }
    }
  }
}

.menu {
  position: relative;
  top: 2vh;

  .menu-button {
    width: clamp(3.5em, 5.5vw, 4em);
    height: clamp(3.5em, 5.5vw, 4em);
    border-radius: 50%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #292929;
    }

    &[disabled] {
      pointer-events: none;
    }

    .button-lines {
      position: absolute;
      justify-content: center;
      width: 40%;
      height: 12%;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        height: 1px;
        width: 100%;
        background-color: $white;
        mix-blend-mode: difference;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: $white;
        mix-blend-mode: difference;
      }

      &.menu-open {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          height: 1px;
          width: 100%;
          // background-color: $black;
          mix-blend-mode: difference;
        }
  
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          height: 1px;
          width: 100%;
          // background-color: $black;
          mix-blend-mode: difference;
        }

      }

      // .lines {
      //   position: absolute;
      //   width: 100%;
      //   height: 1px;
      //   background-color: $background;

      //   &.menu-open {
      //     background-color: $black;
      //   }

      //   &.line-1 {
      //     top: 0;
      //   }

      //   &.line-2 {
      //     top: 50%;
      //   }

      //   &.line-3 {
      //     bottom: 0;
      //   }
      // }
    }
  }
}
