.navbar {
  position: fixed;
  width: 100%;
  font-size: 1.8rem;
  height: 100px;
  display: flex;
  z-index: 100;
  mix-blend-mode: difference;

  a {
    text-decoration: none;
  }
}

.navbar-inner {
  margin-inline: $wrapper-value-menu;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    .placeholder-logo {
      color: $white;
      letter-spacing: 1px;
      transition: 0.3s ease-in-out;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 2.3rem;
      text-decoration: none;

      &a:hover,
      a:visited,
      a:link,
      a:active {
        text-decoration: none;
      }

      @media (max-width: $layout-breakpoint-medium) {
        font-size: 1rem;
      }
    }
  }
}

.menu {
  position: relative;
  top: 2vh;

  .menu-button {
    width: clamp(3.5em, 5.5vw, 4em);
    height: clamp(3.5em, 5.5vw, 4em);
    border-radius: 50%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    //When disabled variable is passed disable the pointer events
    &[disabled] {
      pointer-events: none;
    }

    .button-lines {
      position: absolute;
      width: 40%;
      height: 10%;
      opacity: 1;

      &::before {
        transition: 0.3s ease-in-out;
        content: "";
        position: absolute;
        top: 0;
        height: 1px;
        width: 100%;
        background-color: $white;
        mix-blend-mode: difference;
      }

      &::after {
        transition: 0.3s ease-in-out;
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: $white;
        mix-blend-mode: difference;
      }

      &.menu-open {
        &::before {
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
          left: 50%;
          content: "";
          display: block;
          position: absolute;
          height: 1px;
          width: 100%;
          mix-blend-mode: difference;
        }

        &::after {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          left: 50%;
          content: "";
          position: absolute;
          bottom: 0;
          height: 1px;
          width: 100%;
          mix-blend-mode: difference;
        }
      }
    }
  }
}
