.pageloader {
  position: absolute;
  z-index: 98;
  background-color: $navbar-menu;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  display: grid;
  place-items: center;

  .pageloader-inner {
    text-align: center;
    .pageloader-text {
      font-size: calc(clamp(4rem, 7vw, 5.3rem) * 0.875);
      color: white;

      &.responsive {
        font-size: 2.7rem;
      }

      &::first-letter {
        text-transform:capitalize;
      }
    }
  }
}

