.pageloader {
  position: absolute;
  z-index: 98;
  background-color: $navbar-menu;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  display: grid;
  place-items: center;

  .pageloader-inner {
    text-align: center;
    .pageloader-text {
      font-size: calc(clamp(4.5rem, 7vw, 6rem) * 0.875);
      color: white;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

