$year-date-color: rgba(255, 255, 255, 0.6);
$card-spacing: 3em;
$card-content-padding: 1em;

.photo-albums {
    padding-block: 5em;
    .container {
        .album-card-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: $card-spacing;
            grid-row-gap: $card-spacing;
            width: 100%;

            .album-card-container {
                text-decoration: none;
                .album-card {
                    list-style: none;
                    position: relative;
                    cursor: pointer;
                    overflow: hidden;

    
                    .album-card-bg {
                        background-size: cover;
                        background-position: center;
                        // border-radius: $spacing-l;
                        transform-origin: center;
                        transition: filter 350ms linear, transform 350ms linear;
                        
                    }
    
                    .album-cover {
                        width: 100%;
                        height: 50%;
                    }
    
                    .album-card-cover-content {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        text-decoration: none !important;
                        outline: none;
                        
                        .content-header {
                            color: $black;
                            font-weight: 500;
                            font-size: 2rem;
                            text-decoration: none;
                            
    
                        }
    
                        .content-year-date {
                            font-size: 1.5rem;
                            font-weight: 700;
    
                        }
                    }
                }

            }


        }
    }
}

.album-card-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $card-spacing;
    grid-row-gap: $card-spacing;
    width: 1000px;

    .album-card2 {
        .image-container {
            .album-cover {
                object-fit: cover;
            }
        }

        .album-info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
