$year-date-color: rgba(255, 255, 255, 0.6);
$card-spacing: 3em;
$card-content-padding: 1em;

.divider-text {
    color: grey;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 3px;
}

.divider {
    border: none !important;
    height: 1px;
    background-color: $divider-color;
    margin-block: 1.3em;
}

.photo-albums {
    padding-block: 5em;
    .container {
        .album-card-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: $card-spacing;
            grid-row-gap: $card-spacing;
            width: 100%;

            .album-card {
                list-style: none;
                position: relative;
                cursor: pointer;
                overflow: hidden;

                &:before {
                    content: "";
                    display: block;
                    width: auto;
                    min-height: 600px;
                }

                .album-card-bg {
                    background-size: cover;
                    background-position: center;
                    // border-radius: $spacing-l;
                    bottom: 0;
                    filter: brightness(0.35) saturate(1.2) contrast(1);
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform-origin: center;
                    transition: filter 350ms linear, transform 350ms linear;
                }

                .album-card-cover-content {
                    left: 1em;
                    top: 3em;
                    padding: $card-content-padding;
                    position: absolute;

                    transition: 0.4s ease-in-out;
                    .content-year-date {
                        color: $year-date-color;
                        font-size: 1.5rem;
                    }

                    .content-header {
                        padding-block: 0.7em;
                        line-height: 1.4;
                        color: $white;

                        font-size: 2.7rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
