$year-date-color: rgba(255, 255, 255, 0.6);
$card-spacing: 4vw;

.photo-albums {
    padding-block: 5em;
    .container {
        .album-card-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: $card-spacing;
            grid-row-gap: $card-spacing;
            width: 100%;

            a {
                text-decoration: none;
            }

            .album-card {
                list-style: none;
                position: relative;
                cursor: pointer;
                overflow: hidden;

                .album-cover-container {
                    overflow: hidden !important;

                    &:hover {
                        .dot {
                            transform: scale(1.5);
                        }
                    }

                    .album-cover-dot {
                        position: absolute;
                        right: 2em;
                        top: 2em;
                        z-index: 10;
                        .dot {
                            transition: 0.5s ease-in-out;
                            color: $white;
                            mix-blend-mode: difference;
                            font-size: 2rem;
                        }
                    }

                    .album-cover {
                        overflow: hidden;
                        max-width: 100%;
                        object-fit: contain;
                        transform-origin: center;
                        transition: 0.5s ease-in-out;

                        &:hover {
                            transform: scale(1.02);
                        }
                    }
                }

                .album-card-cover-content {
                    margin-block: 3vh;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-decoration: none !important;

                    .content-header {
                        font-size: 0.7rem;
                        color: $black;
                        font-weight: 500;
                        font-size: 2rem;
                        text-decoration: none;
                    }

                    .content-year-date {
                        color: $text-color;
                        font-size: 1.5rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

