
.divider-text {
  color: grey;
  text-transform: uppercase;
  font-size: calc(clamp(1.3rem, 3vw, 1.4rem) * 0.875);
  letter-spacing: 3px;

  &.category {
    padding-top: 5em;
  }
}

.divider {
  border: none !important;
  height: 1px;
  background-color: $divider-color;
  margin-block: 1.3em;
}

.image-info {
    font-weight: 500;
    padding-top: 1.5rem;
    font-size: calc(clamp(1.5rem, 2.5vw, 1.7rem) * 0.875);
    color: $text-color;
}
