.about {
    visibility: hidden;
    padding-block: $padding-top-global + 15;

    .section-header {
        font-weight: 700;
        font-size: 4rem;
        padding-bottom: 2em;

        @media (max-width: $layout-breakpoint-small) {
            font-size: 2.5rem;
        }
    }

    .container {
        h1 {
            position: relative;
            font-weight: 500;
            margin-bottom: 24px;

            .about-header-line {
                word-spacing: 1rem;
                font-size: calc(clamp(4rem, 7vw, 8rem) * 0.875);
                margin: 0;
                line-height: 1.3;
                overflow: hidden;
                font-weight: 700;
            }
        }

        .big-portrait {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .about-banner {
                width: 100%;
                height: 100vh;
                object-fit: cover;

                @media (max-width: $layout-breakpoint-small) {
                    height: 600px;
                }

                @media (max-width: $layout-breakpoint-xsmall) {
                    height: 500px;
                }
            }
        }

        .about-details-data {
            padding-top: 20vh;

            @media (max-width: $layout-breakpoint-small) {
                padding-top: 10vh;
            }
            .about-details-data-grid {
                width: 100%;
                display: grid;
                grid-template-columns: 30% 70%;

                @media (max-width: $layout-breakpoint-small) {
                    grid-template-columns: 100%;
                }

                .section-header-about {
                    line-height: 2;
                    font-size: 2rem;
                    font-weight: 600;

                    @media (max-width: $layout-breakpoint-small) {
                        padding-bottom: 2em;
                    }
                }

                .paragraphs-container {
                    .about-details-paragraphs {
                        color: $text-color;
                        line-height: 2;
                        padding-bottom: 2rem;
                    }
                }
            }

            .my-equipment-grid {
                margin-block: 20vh;
                width: 100%;
                display: grid;
                grid-template-columns: 50% 50%;
                column-gap: 5rem;
                align-items: center;

                &.no-equipment {
                    grid-template-columns: 100%;
                }

                @media (max-width: $layout-breakpoint-small) {
                    grid-template-columns: 100%;
                }

                .image {
                    .big-portrait-two {
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;

                        .portrait-two {
                            width: 100%;
                            height: 80vh;
                            object-fit: cover;
                        }
                    }
                }

                .my-equipment {
                    .my-equipment-header {
                        font-weight: 700;
                        font-size: calc(clamp(3.5rem, 7vw, 4rem) * 0.875);
                    }

                    .equipment {
                        .equipment-item {
                            padding-block: 2.5rem;

                            #equipment-category {
                                padding-bottom: .1rem;
                            }

                            .equipment-item-description {
                                padding-top: 1em;
                                font-size: 2em;
                                font-weight: 500;

                                @media (max-width: $layout-breakpoint-small) {
                                    font-size: 1.9em;
                                }
                            }
                        }
                    }
                }
            }

            .services-section {
                .services-section-grid {
                    width: 100%;
                    .services-container {
                        border-top: 1px solid $divider-color;
                        .accordian {
                            width: 100%;
                            border-bottom: 1px solid $divider-color;
                            .accordion-header {
                                padding-inline: 3em;
                                cursor: pointer !important;
                                padding-block: 3.5rem;

                                @media (max-width: $layout-breakpoint-small) {
                                    grid-template-columns: 100%;
                                    padding-block: 2.5rem;
                                    padding-inline: 0px;
                                }

                                .accordion-title-container {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    .accordion-title {
                                        transition: 0.4s ease-in-out;
                                        font-weight: 500;
                                        font-size: calc(clamp(1.8rem, 2vw, 2.5rem) * 0.875);

                                        @media (max-width: $layout-breakpoint-small) {
                                            font-weight: 500;
                                        }
                                    }

                                    .accordion-button {
                                        .showmore-icon {
                                            transition: 0.4s ease-in-out;
                                            font-size: calc(clamp(2rem, 4vw, 3rem) * 0.875);

                                            &.open {
                                                transform: rotate(90deg);
                                            }
                                        }
                                    }
                                }

                                .accordion-item {
                                    will-change: max-height;
                                    overflow: hidden;
                                    transition: max-height 0.4s cubic-bezier(1, 0, 1, 0);
                                    height: auto;
                                    max-height: 9999px;
                                }

                                .accordion-item.collapsed {
                                    max-height: 0;
                                    transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
                                }

                                .accordion-content {
                                    padding-top: 3em;
                                    width: 100%;

                                    color: $text-color;
                                    max-width: 90ch;
                                    line-height: 1.8;
                                    font-size: calc(clamp(1.6rem, 2vw, 2rem) * 0.875);

                                    @media (max-width: $layout-breakpoint-xsmall) {
                                        width: 90%;
                                        padding-top: 2em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
