.about {
    visibility: hidden;
    padding-block: $padding-top-global + 15;
    .container {
        h1 {
            position: relative;
            font-weight: 500;
            margin-bottom: 24px;

            .about-header-line {
                word-spacing: 1rem;
                font-size: calc(clamp(3rem, 4vw, 8rem) * 0.875);
                margin: 0;
                line-height: 1.3;
                overflow: hidden;
                font-weight: 700;

                .header-text {
                    .outlined {
                        color: $white;
                        -webkit-text-stroke: 1px black;
                    }
                }
            }
        }

        .big-portrait {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .about-banner {
                width: 100%;
                height: 100vh;
                object-fit: cover;
            }

            // .parallax-bg {
            //     width: 100%;
            //     height: 800px;

            //     .react-parallax-bgimage {
            //         color: red;
            //     }

            //     @media (max-width: $layout-breakpoint-small) {
            //         height: 500px;
            //     }
            // }
        }

        .about-details-data {
            padding-block: 20vh;
            .about-details-data-grid {
                width: 100%;
                display: grid;
                grid-template-columns: 30% 70%;

                .paragraphs-container {
                    .about-details-paragraphs {
                        color: $text-color;
                        line-height: 2;
                        font-size: calc(clamp(1.6rem, 4vw, 2.1rem) * 0.875);

                        margin-block: 2rem;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
            .services-section {
                margin-block: 40vh;

                .services-section-grid {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 30% 70%;

                    .services-container {
                        overflow: hidden;
                        .services-list {
                            border-top: 1px solid $black;
                            .services-column {
                                background-color: $white;
                                padding-block: 2rem;
                                border-bottom: 1px solid $black;

                                .accordion-header {
                                    height: 50px;


                                    .accordion-header-grid {
                                        width: 100%;
                                        display: grid;
                                        grid-template-columns: 20% 80%;

                                        .service-index {
                                            font-size: calc(clamp(1.6rem, 4vw, 3rem) * 0.875);
                                        }

                                        .service-title-container {
                                            width: 100%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            .accordion-title {
                                                font-weight: 500;
                                                font-size: calc(clamp(1.6rem, 4vw, 3rem) * 0.875);
                                            }

                                            .accordion-button {
                                                .showmore-icon {
                                                    font-size: calc(clamp(1.6rem, 4vw, 3.5rem) * 0.875);
                                                }
                                            }
                                        }
                                    }
                                }

                                .accordion-item {
                                    transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
                                    height: 160px;
                                    max-height: 9999px;

                                    &.collapsed {
                                        max-height: 0;
                                        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
                                    }

                                    .accordion-content {
                                        .servivce-description {
                                            padding-top: 55px;
                                            font-size: calc(clamp(1.6rem, 4vw, 2rem) * 0.875);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.header-container {
    font-size: calc(clamp(1.5rem, 7vw, 2.3rem) * 0.875);
    font-weight: 600;
}
