.motion {
    padding-top: $padding-top-global;
    .container {
        width: 100%;
        height: 100%;

        .video-container {
            padding-block: 15vh;
            .video-info {
                margin-bottom: 5em;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 40% 60%;

                @media (max-width: $layout-breakpoint-small) {
                    grid-template-columns: 100%;
                }

                .video-title-column {
                    .video-title {
                        font-size: clamp(2.5rem, 5vw, 2.8rem);
                        font-weight: 700;
                    }

                    @media (max-width: $layout-breakpoint-small) {
                        padding-bottom: 6em;
                    }
                }

                .video-description-column {
                    .video-description {
                        line-height: 1.8;
                        font-size: clamp(1.5rem, 3vw, 1.7rem);
                        color: $text-color;

                        @media (max-width: $layout-breakpoint-small) {
                            color: $black;
                        }
                    }
                }
            }

            video {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.video-info-category {
    font-size: clamp(1.4rem, 5vw, 1.6rem);
    color: rgb(170, 170, 170);
    padding-bottom: 1.3em;

}
