.album-page {
    padding-top: $padding-top-global;
    .container {
        .album-data {
            padding-block: 3em;
            .album-info-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;

                @media (max-width: $layout-breakpoint-small) {
                    grid-template-columns: repeat(1, 1fr);
                }

                .album-facts {
                    .album-title {
                        font-weight: 700;
                        font-size: 5em;
                        letter-spacing: 1px;
                    }
                    h4 {
                        padding-top: 1em;
                        font-size: 2.2em;
                    }
                    .divider-text.category {
                        padding-top: 3em;
                    }
                }

                .album-description {
                    .album-description-paragraph {
                        padding-bottom: 2em;
                        line-height: 1.5;
                        font-size: 1.8em;
                        color: $text-color;

                        @media (max-width: $layout-breakpoint-small) {
                            padding-top: 4em;
                        }
                    }
                }
            }

            .album-images {
                width: 100%;
                margin-block: 15vh;
                .image-index {
                    // transform: rotate(-90deg);
                    top: 0;
                    margin-top: 10vh;
                    left: -5vw;
                    position: absolute;

                    font-size: 2.5rem;
                    font-weight: 700;
                    text-transform: uppercase;

                    .image-count-divider {
                        padding-inline: 10px;
                        font-size: 1.3em;
                    }
                }
                .album-image {
                    padding-block: 2em;
                    display: block;
                    width: 100%;
                    // height: 100vh;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
