.album-page {
    .container {
        .album-data {
            padding-block: 3em;
            .album-info-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;

                .album-facts {
                    .album-title {
                        font-weight: 700;
                        font-size: 5em;
                        letter-spacing: 1px;
                    }
                    h4 {
                        padding-top: 1em;
                        font-size: 2.2em;
                    }
                }

                .album-description {
                    .album-description-paragraph {
                        padding-bottom: 2em;
                        line-height: 1.5;
                        font-size: 1.8em;
                        color: $text-color;
                    }
                }
            }

            .album-images {
                margin-block: 15vh;
                .image-index {
                    // transform: rotate(-90deg);
                    margin-top: 10vh;
                    left: 10vw;
                    position: absolute;

                    font-size: 1.3rem;
                    font-weight: 700;
                    text-transform: uppercase;

                    .image-count-divider {
                        padding-inline: 10px;
                        font-size: 1.3em;
                    }
                }
                .album-image {
                    padding-block: 5em;
                    width: 100%;
                }
            }
        }
    }
}
