.album-page {
    padding-top: $padding-top-global;
    .container {
        .album-data {
            padding-block: 1.3em;
            
            .album-info-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                column-gap: 4rem;

                @media (max-width: $layout-breakpoint-small) {
                    grid-template-columns: repeat(1, 1fr);
                }

                .album-facts {
                    .album-title {
                        font-weight: 700;
                        font-size: calc(clamp(3rem, 3vw, 4rem) * 0.875);
                        letter-spacing: 1px;
                    }
                    h4 {
                        padding-top: 1em;
                        font-size: calc(clamp(1.8rem, 3vw, 2.2rem) * 0.875);
                        font-weight: 500;
                    }
                    .divider-text.category {
                        padding-top: 3em;
                    }
                }

                .album-description {
                    @media (max-width: $layout-breakpoint-small) {
                        padding-top: 8em;
                    }

                    .album-description-paragraph {
                        padding-bottom: 2em;
                    }
                }
            }

            .album-images {
                width: 100%;
                margin-block: 5vh;

                .album-image {
                    padding-block: 2em;
                    display: block;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
