.image-gallery {
    padding-top: 25vh;

    @media (max-width: $layout-breakpoint-xsmall) {
        padding-top: 15vh;
    }

    .container {
        .image-category-tags {
            width: 100%;
            display: flex;
            text-align: left;
            place-items: left;
            justify-content: left;
            margin-bottom: 3em;
            cursor: pointer !important;

            @media (max-width: $layout-breakpoint-xsmall) {
                display: block;
            }

            .button-list {
                &:hover {
                    .tag-button {
                        color: $text-color;
                    }
                }

                .tag-button {
                    text-transform: capitalize;
                    color: $black;
                    display: inline-block;
                    line-height: 1.5;
                    font-size: 1.8em;
                    padding-right: 1.5em;
                    transition: 0.3s ease-in-out;

                    @media (max-width: $layout-breakpoint-xsmall) {
                        display: block;
                    }

                    @media (max-width: $layout-breakpoint-small) {
                        padding-bottom: 1em;
                    }
                    

                    &:hover {
                        color: black;
                        font-weight: 600;
                    }

                    &:first-child {
                        margin-left: 0 !important;
                    }

                    &.active {
                        font-weight: 700;

                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .gallery {
            padding-bottom: 10vh;
            columns: 3;
            column-gap: 2rem;
            width: 100%;

            @media (max-width: $layout-breakpoint-small) {
                columns: 2;
                column-gap: 1.5rem;
            }

            .gallery-image {
                .image {
                    width: 100%;
                    margin-bottom: 2em;
                    transition: 0.5s cubic-bezier(0.25, 0.11, 0.34, 1);

                    @media (max-width: $layout-breakpoint-xsmall) {
                        margin-bottom: 1.5em;
                    }

                    &:hover {
                        filter: brightness(0.6);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.item {
    display: inline-block;
    background: tomato;
    padding: 5px;

    line-height: 1.5;
    color: white;
    font-weight: bold;
    font-size: 3em;
}

/*inline-block*/
.inline-b {
    max-width: 1200px;
    margin: 0 auto;
}
.inline-b-item {
    display: inline-block;
}
