.image-gallery {
    padding-top: $padding-top-global;
    .container {
        .image-category-tags {
            display: flex;
            text-align: center;
            place-items: center;
            justify-content: center;
            padding-block: 4em;


            .tag-button {
                border: none;
                background: transparent;
                cursor: pointer !important;
                font-weight: 500;
                color: $text-color;
                font-family: inherit;
                font-size: 1.8rem;
                transition: .3s ease-in-out;

                &::first-letter {
                    text-transform: uppercase;
                }

                &:hover {
                    color: $black;
                }

                &.active {
                    color: $black;
                }
            }

            .tag-divider {
                color: $black;
                font-size: 1.5rem;
            }
        }
        .gallery {
            padding-block: 10vh;
            columns: 3;
            column-gap: 2rem;
            width: 100%;

            @media (max-width: $layout-breakpoint-small) {
                columns: 2;
            }

            @media (max-width: $layout-breakpoint-xsmall) {
                columns: 1;
            }

            .image {
                width: 100%;
                margin-bottom: 2em;
                transition: 0.5s ease-in-out;

                &:hover {
                    filter: brightness(0.7);
                    cursor: pointer;
                }
            }
        }
    }
}

