.image-gallery {
    .container {
        .image-category-tags {
            display: flex;
            text-align: center;
            place-items: center;
            justify-content: center;
            padding-block: 3em;

            .tag-button {
                border: none;
                background: transparent;
                cursor: pointer;
                letter-spacing: 1.5px;
                margin-inline: 1.5em;
                font-size: 1.3rem;
                font-weight: 500;
                color: $text-color;
                font-family: inherit;
                transition: 0.3s ease-in-out;
                text-transform: uppercase;

                &:hover {
                    color: $black;
                }

                &.active {
                    color: $black;
                }
            }
        }
        .gallery {
            padding-block: 10vh;
            columns: 4;
            column-gap: 2rem;
            width: 100%;

            .image {
                width: 100%;
                margin-bottom: 2em;
                transition: 0.5s ease-in-out;

                &:hover {
                    filter: brightness(0.7);
                    cursor: pointer;
                }
            }
        }
    }
}
