// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 990px;
$layout-breakpoint-xsmall: 480px;


// Colors
$background: #ffffff;
$white: #fff;
$black: #000000;
$forest-green: #134e13;
$divider-color: rgb(212, 212, 212);
$navbar-menu: rgb(22, 22, 22);



// Text
$text-color: grey;
$black-text-hover: rgb(107, 107, 107);
$white-text-hover: rgb(202, 202, 202);


//Wrapper
$wrapper-value: 15vw;
$wrapper-value-breakpoint-small: 8vw;
$wrapper-value-navbar: 3vw;
$wrapper-value-navbar-breakpoint-medium: 2vw;



//Padding values
$padding-top-global: 8vh;
