// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;


// Colors
$background: #ffffff;
$white: #fff;
$black: #000000;
$forest-green: #134e13;

// Text
$text-color: grey;
$black-text-hover: rgb(107, 107, 107);

//Global
$wrapper-value: 15vw;
$divider-color: rgb(212, 212, 212);