@import "abstracts/variables";
@import "base/global";
@import "base/reset";
@import "base/typography";

//Components
@import "components/navbar";
@import "components/header";
@import "components/about";
@import "components/main-loader";
@import "components/page-loader";

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.App {
  margin-inline: 12vw;
}
