@import "abstracts/variables";
@import "base/global";
@import "base/reset";
@import "base/typography";

// Pages
@import "pages/home";
@import "pages/portfolio";
@import "pages/about";
@import "pages/motion";
@import "pages/photo-albums-page";
@import "pages/page-not-found";

//Components
@import "components/navbar";
@import "components/header";
@import "components/main-loader";
@import "components/page-loader";
@import "components/old-banner";
@import "components/photo-albums";
@import "components/footer";
@import "components/image-modal";
@import "components/navbar-menu";
@import "components/cursor";
@import "components/home-about-responsive";
@import "components/home-about-normal";
@import "components/banner";

body {
  background-color: $background;
  min-height: 100% !important;
  height: 100%;
  overflow-x: hidden !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  cursor: auto !important;

  &::-webkit-scrollbar {
    display: none;
  }

  &.disable-scroll {
    overflow-y: hidden;
  }
}

main {
  margin-inline: $wrapper-value; //wrapper

  @media (max-width: $layout-breakpoint-small) {
    margin-inline: $wrapper-value-breakpoint-small;
  }
}

.App {
  // overflow: hidden;
}

//Cursor styling
.cursor__dot div {
  z-index: 999999 !important;
}

.cursor__dot div:last-child {
  background-color: transparent !important;
}

.cursor__dot div:first-child {
  mix-blend-mode: difference;
  background-color: $white !important;
}


//Selection color styling
/* Code for Firefox */
::-moz-selection { 
  color: $black;
  background: $white;
}

::selection {
  color: $white;
  background: $black;
}








